{% extends 'base.html.twig' %}
{% block body %}
<section>
    <ul>
        <li>Sauter en parachute</li>
        <li>Faire le tour du monde</li>
    </ul>
</section>
{% endblock %}

{% block title %}
    {{ parent() }} | Listes des souhaits
{% endblock %}