{% extends 'base.html.twig' %}

{% block body %}
    <h1>A propos de nous...</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, ipsum nam.
        Adipisci aut corporis debitis dolor dolorum eum explicabo hic, itaque labore libero magnam magni nemo quasi
        quia, reiciendis tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, et, inventore iure labore natus nesciunt nisi
        odio, officia officiis quod sit tempore voluptate!
        Distinctio impedit inventore ipsam pariatur, ratione velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim et molestiae quasi voluptatibus.
        Amet cum et excepturi facilis fugit ipsa nulla placeat porro reiciendis, rerum, saepe similique sit soluta!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi est, facere. Beatae facere omnis quia quis sed
        sequi voluptas?
        Aliquam autem delectus ipsa minus nulla praesentium qui quo velit vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem illum maiores reiciendis, tempore unde!
        Accusamus amet culpa ipsum nemo repudiandae. Aspernatur consequuntur culpa dolore eligendi itaque maiores nam
        placeat!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
{% endblock %}

{% block title %}
    {{ parent() }} | About Us
{% endblock %}

