{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %} Page d'Accueil
    <ul>
        <li>Sauter en parachute</li>
        <li>Faire le tour du monde</li>
    </ul>
{% endblock %}



