<nav>
    <ul>
        <li><a href="{{ path("main_home") }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('main_aboutUs') }}" title="About us">About Us</a></li>
        <li><a href="{{ path('wish_list') }}" title="Wishlist">Liste des souhaits</a></li>
    </ul>
</nav>